{% extends 'base.html' %}
<title>{% block title %}Search incidents{% endblock %}</title>
{% block main %}
<form action="" method="POST" novalidate>
    {{form.csrf_token}}
    <p> {{ form.year.label }} <br> {{ form.year }} </p>
    <p> {{ form.actorType.label }} <br> {{ form.actorType }} </p>
    <p> {{ form.industry.label }} <br> {{ form.industry }} </p>
    <p> {{ form.motive.label }} <br> {{ form.motive }} </p>
    <p> {{ form.eventType.label }} <br> {{ form.eventType }} </p>
    <p> {{ form.countries.label }} <br> {{ form.countries }} </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}