{% extends 'base.html' %}
{% block head %}
<title>{% block title %}Create incident{% endblock %}</title>
{% endblock %}
{% block main %}
<form action="" method="POST" novalidate>
    {{form.csrf_token}}
    <p> {{ form.date.label }} <br> {{ form.date }} </p>
    <p> {{ form.actor.label }} <br> {{ form.actor }} </p>
    <p> {{ form.actorType.label }} <br> {{ form.actorType }} </p>
    <p> {{ form.organization.label }} <br> {{ form.organization }} </p>
    <p> {{ form.industry.label }} <br> {{ form.industry }} </p>
    <p> {{ form.motive.label }} <br> {{ form.motive }} </p>
    <p> {{ form.eventType.label }} <br> {{ form.eventType }} </p>
    <p> {{ form.description.label }} <br> {{ form.description }} </p>
    <p> {{ form.sourceUrl.label }} <br> {{ form.sourceUrl }} </p>
    <p> {{ form.countries.label }} <br> {{ form.countries }} </p>
    <p> {{ form.actorCountries.label }} <br> {{ form.actorCountries }} </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}